<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<title>工具界-CssNb</title>
	<meta name="keywords" content="在线,CSS,CSS 校验,格式化,xml转json 工具,在线工具,json视图,可视化,程序,服务器,域名注册,正则表达式,测试,在线json格式化工具,json 格式化,json格式化工具,json字符串格式化,json 在线查看器,json在线,json 在线验证,json tools online,在线文字对比工具" />
		<meta name="description" content="在线,CSS,CSS 校验,格式化,xml转json 工具,在线工具,json视图,可视化,程序,服务器,域名注册,正则表达式,测试,在线json格式化工具,json 格式化,json格式化工具,json字符串格式化,json 在线查看器,json在线,json 在线验证,json tools online,在线文字对比工具">
	<script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
	<link href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<script src="//cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/statics/self/css/main.css">
	<script type="text/javascript" src="__PUBLIC__/statics/format/jshtml/base.js"></script>
	<script type="text/javascript" src="__PUBLIC__/statics/format/jshtml/htmlformat.js"></script>
	<script type="text/javascript" src="__PUBLIC__/statics/format/jshtml/jsformat.js"></script>
	<script type="text/javascript" src="__PUBLIC__/statics/layer/layer.js"></script>
	<!--<script src="http://7bv9ya.com1.z0.glb.clouddn.com/jquery.cookie.js"></script>-->
	<style type="text/css">
		.btop{margin:3px 3px;}
	</style>
</head>
<body>
<div class="container-fluid">
	<include file="Public/head" download="active"/>
	<!-- <p class="bg-warning msgs">...</p> -->
	<div class="left_kuang1">
		<div class="left_main1">
			<div class="min-title">
				<h1>常用编程软件下载</h1>
			    <!-- <h3>请在下框输入您要转换的内容:</h3>   -->
			</div>
			   <!-- /工具开始 -->
			<div style="width: 100%;height:850px;">
				<span><h4>编程 工具大全（工具整理中）</h4></span>
				<hr>
				<button type="button" class="btop btn btn-primary" onclick="d1()" title="完美解决vm虚拟机清理不干净而导致不能装新的虚拟机的困扰">vmclean</button>
				<button type="button" class="btop btn btn-primary" onclick="d2()" title="">vc14_x86</button>
				<button type="button" class="btop btn btn-primary" onclick="d3()" title="">软件多开</button>
				<button type="button" class="btop btn btn-primary" onclick="d4()" title="">postman</button>
				<button type="button" class="btop btn btn-primary" onclick="d5()" title="">navicat</button>
				<button type="button" class="btop btn btn-primary" onclick="d6()" title="">仿站工具</button>
				<button type="button" class="btop btn btn-primary" onclick="d7()" title="">sublime_x32</button>
				<button type="button" class="btop btn btn-primary" onclick="d8()" title="">sublime_x64</button>
				<button type="button" class="btop btn btn-primary" onclick="d9()" title="">3600次鼠标连点器</button>
				<button type="button" class="btop btn btn-primary" onclick="d10()" title="">网页自动刷新工具</button>
				<button type="button" class="btop btn btn-primary" onclick="d11()">Composer安装</button>
				<button type="button" class="btop btn btn-primary" onclick="d12()">PuTTY</button>
				<button type="button" class="btop btn btn-primary" onclick="d13()">Putty_key_gen</button>
				<button type="button" class="btop btn btn-primary" onclick="d14()">Copssh_4.1.0</button>
				<button type="button" class="btop btn btn-primary" onclick="d15()">wamp插件</button>
				<button type="button" class="btop btn btn-primary" onclick="d16()">Xshell5&Xftp5</button>
				<!-- <button type="button" class="btop btn btn-primary" onclick="d1()">vmclean</button> -->
				<hr>
				<span><h4>开发工具</h4></span>
				<hr>
				<button type="button" class="btop btn btn-danger" onclick="d17()">Notepad++7.3.1</button>
				<button type="button" class="btop btn btn-danger" onclick="d18()">SublimeText3汉化版</button>
				<button type="button" class="btop btn btn-danger" onclick="d19()">Zend Studio 13.0.1</button>
				<button type="button" class="btop btn btn-danger" onclick="d20()">FireBug 2.0.18</button>
				<button type="button" class="btop btn btn-danger" onclick="d21()">PhpStorm 10.0.1</button>
				<button type="button" class="btop btn btn-danger" onclick="d22()">SublimeText3 Mac版</button>
				<button type="button" class="btop btn btn-danger" onclick="d23()">ZendStudio 13.5.1 Mac</button>
				<button type="button" class="btop btn btn-danger" onclick="d24()">WebStorm Mac版</button>
				<button type="button" class="btop btn btn-danger" onclick="d25()">SQLPro for Mysql1.0.13</button>
				<button type="button" class="btop btn btn-danger" onclick="d26()">PhpStorm 10.0.1 Mac版</button>
				<button type="button" class="btop btn btn-danger" onclick="d27()">browser-sync-master</button>
				<button type="button" class="btop btn btn-danger" onclick="d28()">Atom编辑器mac版</button>
				<hr>
				<span><h4>服务器工具</h4></span>
				<button type="button" class="btop btn btn-warning" onclick="d38()">Apache 2.2.25</button>
				<button type="button" class="btop btn btn-warning" onclick="d39()">MAMP Pro for Mac 3.5</button>
				<button type="button" class="btop btn btn-warning" onclick="d40()">MYSQL 5.7.12</button>
				<button type="button" class="btop btn btn-warning" onclick="d41()">NavicatPremium Mac版</button>
				<button type="button" class="btop btn btn-warning" onclick="d42()">Parallels Desktop 12</button>
				<button type="button" class="btop btn btn-warning" onclick="d43()">PHP 7.0.10</button>
				<button type="button" class="btop btn btn-warning" onclick="d44()">phpMyAdmin 4.6.6</button>
				<button type="button" class="btop btn btn-warning" onclick="d45()">phpStudy</button>
				<button type="button" class="btop btn btn-warning" onclick="d46()">php集成环境</button>
				<button type="button" class="btop btn btn-warning" onclick="d47()">Python 2.7</button>
				<button type="button" class="btop btn btn-warning" onclick="d48()">Python 3.5.1 Windows</button>
				<button type="button" class="btop btn btn-warning" onclick="d49()">UPUPW Apache(32位)</button>
				<button type="button" class="btop btn btn-warning" onclick="d50()">UPUPW apache(64位)</button>
				<button type="button" class="btop btn btn-warning" onclick="d51()">UPUPW Nginx(32位)</button>
				<button type="button" class="btop btn btn-warning" onclick="d52()">UPUPW Nginx(64位)</button>
				<button type="button" class="btop btn btn-warning" onclick="d53()">WampServer (32bit)2.5</button>
				<button type="button" class="btop btn btn-warning" onclick="d54()">WampServer 1.6.1.33</button>
				<button type="button" class="btop btn btn-warning" onclick="d55()">XAMPP 3.2.2.0</button>
				
				<hr>
				<span><h4>其他工具</h4></span>
				<button type="button" class="btop btn btn-info" onclick="d29()">Dreamweaver Mac版</button>
				<button type="button" class="btop btn btn-info" onclick="d30()">Dreamweaver CS6</button>
				<button type="button" class="btop btn btn-info" onclick="d31()">FileZilla 3.24</button>
				<button type="button" class="btop btn btn-info" onclick="d32()">FlashFXP 5.4</button>
				<button type="button" class="btop btn btn-info" onclick="d33()">git 2.7.2</button>
				<button type="button" class="btop btn btn-info" onclick="d34()">PS CS6绿色精简版</button>
				<button type="button" class="btop btn btn-info" onclick="d35()">TortoiseSVN 1.9.5</button>
				<button type="button" class="btop btn btn-info" onclick="d36()">Yummy FTP MAC版</button>
				<button type="button" class="btop btn btn-info" onclick="d37()">nofollow插件</button>
			</div>
		</div>
	</div>
	<include file="Public/button" keywords='active'/>

</div>
<script type="text/javascript" src='__PUBLIC__/statics/self/js/download.js'></script>
</body>
</html>
