<div class="navs">
	<nav class="navbar navbar-default">
	<!-- <nav class="navbar navbar-inverse">   黑色 --> 
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{:U('Tool/index/index')}">工具界</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	     
	        <!-- <li><a href="#">翻译 <span class="sr-only">(current)</span></a></li> -->
	        <li class="[mi]">
	        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">编码/加密 <span class="caret"></span></a>
	        	<ul class="dropdown-menu">
		        	<li><a href="{:U('Tool/mi/mi5')}">MD5加密工具</a></li>
		        	<li><a href="{:U('Tool/mi/urlmi')}">URL网址16进制加密工具</a></li>
		        	<li><a href="{:U('Tool/mi/escapemi')}">Escape加密/解密工具</a></li>
	        	</ul>
        	</li>
	        <li    class="dropdown [keywords]">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">格式化 <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="{:U('Tool/format/unicode')}">在线Unicode编码转换</a></li>
	            <li><a href="{:U('Tool/format/jshtml_format')}">Javascript/HTML压缩、格式化</a></li>
	            <li><a href="{:U('Tool/format/csszip')}">CSS压缩、格式化</a></li>
	            <li><a href="{:U('Tool/format/xmlzip')}">XML压缩、格式化</a></li>
	            <li role="separator" class="divider"></li>
	            <!-- <li><a href="#">SQL压缩、格式化</a></li> -->
	            <li><a href="{:U('Tool/format/jsons')}">JSON 在线解析工具</a></li>
<!-- 		            <li role="separator" class="divider"></li>
	            <li><a href="#">One more separated link</a></li> -->
	          </ul>
	        </li>
	        
	        <li class="[download]"> <a href="{:U('Tool/more/download')}">软件下载<span class="sr-only">(current)</span></a></li>
	        <!-- <li> <a href="https://mart.coding.net/projects" target="_blank">代码交易市场<span class="sr-only">(current)</span></a></li> -->


	      </ul>
	      <!-- <form class="navbar-form navbar-left">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form> -->
	      <ul class="nav navbar-nav navbar-right">
	
	        <li class="[shouce]"><a href="{:U('Tool/more/shouce')}" >手册下载</a></li>
	        <li class="[document]"><a href="{:U('Tool/more/document')}" >文档大全</a></li>
	        <li class="dropdown [more]">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多<span class="caret"></span></a>
	           <ul class="dropdown-menu">
	              	<li> <a href="{:U('Tool/index/twoma')}">二维码生成</a></li>
	           		<li> <a href="{:U('Tool/more/zz')}">正则表达式</a></li>
		            <li><a href="{:U('Tool/more/duibi')}">代码对比/归并</a></li>
		            <li><a href="{:U('Tool/more/icomake')}">ICO在线生成</a></li>
		            <li><a href="{:U('Tool/more/zishu')}">字数统计工具</a></li>
		            <li><a href="{:U('Tool/more/quc')}">在线去重工具</a></li>
		            <li><a href="{:U('Tool/more/papapa')}">计算男女交往几天可以啪啪啪</a></li>
		         <!--    <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li> -->
		            <li role="separator" class="divider"></li>
		            <li><a href="{:U('Tool/more/fanyimi')}">英汉互译</a></li>
		        </ul>
	        </li>
	        <li><a href="http://cssnb.com/iframe/woman/chatwoman.html" target="_blank">美人儿<span class="sr-only">(current)</span></a></li>
	        <li class="[liu]"><a href="{:U('Tool/more/message')}" >心情</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</div>