<div class="right_kuang" >
	<div class="right_main">
		<!-- <strong><center><h4>最新更新</h4></center></strong> -->
		<div class="panel-heading"><h3 class="widget-title panel-title">最新更新</h3></div>
		<!-- <hr> -->
		<div style="margin-left: 15px"><p><a href="{:U('Tool/format/jshtml_format')}">Javascript/HTML压缩、格式化</a></p>
		<p><a href="{:U('Tool/format/jsons')}">JSON 在线解析工具</a></p>
		<p><a href="{:U('Tool/more/fanyimi')}">英汉互译</a></p>
		<p><a href="{:U('Tool/format/xmlzip')}">XML压缩、格式化</a></p>
		<p><a href="{:U('Tool/format/csszip')}">CSS压缩、格式化</a></p></div>
	</div> 
	<div class="right_main">
		
		<div class="panel-heading"><h3 class="widget-title panel-title">最新留言</h3></div>	

	</div>
	<div class="right_main_min">
		<div class="panel-heading"><h3 class="widget-title panel-title">每日说说：</h3></div>
		<div style="margin-left: 15px"><p><h6>我用心去写代码,只为寻觅一个懂我的人！</h6></p></div> 

	</div>
</div>