body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", "Arial", simsun, sans-serif;
}
:link, :visited, ins {
    text-decoration: none;
}
a {
    outline: none;
}
a, input, button {
    outline: none;
}

.editor-btn {
  
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #14191e;
}
.editor-btn-inner {
    padding: 10px;
}.code-btn-submit:link, .code-btn-submit:active, .code-btn-reset:link, .code-btn-reset:active {
    height: 30px;
    width: 120px;
    line-height: 30px;
    text-align: center;
    background-color: #00b33b;
    color: #fff;
    webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}.editor-btn-inner .code-btn-reset {
    background: #3d3842;
}
.code-btn-submit:link, .code-btn-submit:active, .code-btn-reset:link, .code-btn-reset:active {
    height: 30px;
    width: 120px;
    line-height: 30px;
    text-align: center;
    background-color: #00b33b;
    color: #fff;
    webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.code-btn-reset:link, .code-btn-reset:active {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    background-color: #14191e;
    color: #fff;
    border: 1px solid #363c40;
}

.editor-btn-inner .code-btn-reset {
    background: #3d3842;
}
.aotorun input {
    margin-top: 8px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-right: 1px;
}

.aotorun label {
    color: #fff;
    cursor: pointer;
    line-height: 32px;
}
 #logo {
    display: block;
    height: 60px;
    width: 200px;
    background: url(../images/logo.png) no-repeat center center;
    white-space: nowrap;
    /*overflow: hidden;*/
    margin-right:50px;
}
 #logo a{padding:10px 0 0 195px !important;}

#top{
	width:100%;height:60px;background:black;padding-top:0;line-height:60px;margin-bottom:10px;font-color:#fff;font-size:16px;
    float: left;position:relative;z-index:999999;
}
#top ul{
	list-style-type:none;
}
#top .top_ul li{
	float:left;
	
}
#top .top_ul_right{margin-right:50px;}
#top .top_ul_right li{
    float:right;
}
#top  ul li:hover{
	height: 60px;
	background:#363c41;
}
#logo:hover{
	height: 60px;
	background:url(../images/logo.png) no-repeat center center !important;
    background-size: 100% !important;
}
#top ul li a {
    padding: 0  20px;
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
	
}
.actives{color:#fff;text-decoration:none;background: #363c41;}


 /*顶部二维码*/
#show_erwei_btn{position:absolute;width:40px;height:40px;left:1000px;top:15px;cursor:pointer;}
#show_erwei_btn .fa-qrcode{font-size:40px;color:#ffffff;}
#erwei_box{display:none;position:relative;width:220px;height:147px;background:#ffffff;left:-100px;top:18px;padding:10px;box-shadow:1px 1px 5px rgba(0,0,0,0.7);z-index:9999999;}
#show_erwei_btn:hover #erwei_box{display:block;}
#erwei_box .fa-caret-up{font-size:14px;position:absolute;left:50%;top:-10px;margin-left:-4px;color:#ffffff;text-shadow:1px -1px 1px #565656;}
.top_erwei.qq{float:left;}
.top_erwei.wx{float:right;}
.top_erwei img{width:100px;}
.top_erwei p{text-align:center;}